.jumbotron {text-align: center;padding-top: 10px;
	         padding-bottom: 15px;font-family: "Carrois Gothic SC", sans-serif;margin-top: -50px; width: 100%;height: 232px; }

#topImageL {width: 15%;height: 200px;float: left;margin-left: 20px;}
label{margin-left:500px;}

#show {margin-right: 5px;margin-left: 5px;margin-top: 5px;margin-bottom: 5px;}

#worldSearch {margin: 0 auto;text-align: center;font-family: "Carrois Gothic SC", sans-serif;}

.col-3{display: inline-table;}

.worldGiphy {padding: 2px;width: 80%;display: inline; }